.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    border-radius: 10px;
}
h2,p {
    text-align: left;
}
span{
    color: antiquewhite;
    font-weight: 660;
    background-color: rgb(16, 165, 56);
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}